<div class="App">
  <header>
    <div class="digi-navbar">
      <div class="digi-navbar__upperhalf"></div>
      <div class="digi-navbar__underhalf">
        <!-- ANCHOR digi-navbar__underhalf__menu -->
        <div class="digi-navbar__underhalf__menu">
          <div class="burger">
            <div class="line">
              <span></span>
            </div>
            <div class="line">
              <span></span>
            </div>
            <div class="line">
              <span></span>
            </div>
          </div>
          <div class="text">Menu</div>
        </div>
        <!-- ANCHOR digi-navbar__underhalf__search -->
        <div class="digi-navbar__underhalf__search">
          <div class="input">
            <div class="input__container">
              <input type="text" placeholder="Suche" class="input__text" />
              <div class="magnifier"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
